body {
  padding: 50px;
  font: 40px 'Lucida Grande', Helvetica, Arial, sans-serif;
  text-align: center;
  list-style-position: inside;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 30px;
}

a {
  color: #00b7ff;
}

ol {
  padding: 0px;
}

* {
  background-color: cornflowerblue;
}

table,
td,
th {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  background-color: orange;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

input,
button,
select {
  width: 148px;
  height: 30px;
  font-size: 18px;
  background-color: aliceblue;
}

#postData {
  margin-block-end: 5px;
}
